@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    width: 50vw;
    background-color: rgba(196, 192, 191, 0.2);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px black;
}

.headlineForm {
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
}

.box {
    text-align: center;
    margin: 16px 0;
}

.box span {
    word-wrap: break-word;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

}

input::placeholder {
    color: black;
    font-size: 14px;
}

#firstName,
#lastName,
#phoneNumber {
    margin: 0 12px;
    outline: none;
    border: none;
    border-bottom: 2px solid teal;
    background-color: transparent;
    color: black;
    width: 150px;
}

.btnStyle {
    display: inline-block;
    padding: 10px 30px;
    background: rgba(0, 128, 128, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.btnStyle:hover {
    background: rgba(0, 128, 128, 1.0);
    transition: all 225ms ease-in-out;
}

#deleteBtn {
    margin: 16px;
}

.borderLine {
    border-bottom: 1px solid teal;
    border-radius: 5px;
}

.outline {
    border-bottom: 1px solid teal;
    margin: 16px 0;
}

@media (max-width: 767px) {
    #content {
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    #firstName,
    #lastName,
    #phoneNumber {
        margin: 8px 12px;
    }

}

@media (min-width: 768px) {
    #content {
        width: 100%;
    }

    .inputs {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
}